<nav class="navbar bg-dark">
  <a class="navbar-brand" href="/" target="_blanck">
    <p class="link">Home</p>
  </a>
  <a class="navbar-brand" href="https://github.com/davissbf" target="_blanck">
    <p class="link">Estudando Node!</p>
  </a>
</nav>