body{
  background-color: #eceff1;
}
.estilo-btn{
  background: #154fad;
  outline: none;
  border-color: #154fad;
  border-radius: 0;
  transition: 0.5s;
  color: white;
}
.estilo-btn:hover{
  background: none;
  color: #154fad;
}
.link{
  color: white;
}
#formulario-pergunta{
  margin-top: 5vh;
}
.estilo-btn2{
  background: #263b5c;
  outline: none;
  border-color: #263b5c;
  border-radius: 0;
  transition: 0.5s;
  color: white;
}
.estilo-btn2:hover{
  background: none;
  color: #263b5c;
}
.dataformatada{
  font-size: 12px;
}


